<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as NIDC">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="NIDC.keyWord">
    </div>
    <div class="form-group narrow-button" >
      <button class="btn btn-primary" ng-click="NIDC.NarrowItDown()">Narrow It Down For Me!</button>
    </div>
    <!-- <ul>
    <li ng-repeat="item in NIDC.items">{{item.name}}</li>
    </ul> -->
    <!-- found-items should be implemented as a component -->
    <found-items items="NIDC.items" on-remove="NIDC.removeItem(index)"></found-items>
  </div>

</body>
</html>
